$main-bg-color: #ff375c;

#apartment-messages-index {
    .message-element {
        border-top: 1px solid rgb(200, 190, 190);
    }

    .brand-color {
        color: $main-bg-color;
    }

    .unread-message {
        background-color: #fa4c6c1a;
    }

    .see-message {
        border: none;
        background-color: #00000000;
    }
}

.stats_container {
    min-height: 250px;
}