@import '~bootstrap/scss/bootstrap';
@import "@tomtom-international/web-sdk-maps";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/@tomtom-international/web-sdk-plugin-searchbox/dist/SearchBox.css";


$main-bg-color: rgb(222,18,99);

.bnbButton{
    background-color: $main-bg-color;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: none;
    &:hover{
        color: white;
    }
}

.tomtom-container{
    #map{
        height: 500px;
        #marker{
                background-color: $main-bg-color;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                padding: 10px;
            .marker-container{
                filter: invert(100%);
            }
        }
        
    }
}

#container-form{
    #form{
        *:focus {
            outline: none;
        }
        width: 70%;
        border: 1px solid lightgray;
        border-radius: 8px;
        hr{
            margin: 5px 0;
        }
        .form-label{
            color: grey;
        }
        textarea { 
            border: none;
            resize: none
        }
        .lightGreyText{
            color: rgb(132, 129, 129);
        }
        
    }
}
