@import '~bootstrap/scss/bootstrap';
@import "@tomtom-international/web-sdk-maps";

$main-bg-color: rgb(255,55,92);

@mixin standard-button {
    background-color: $main-bg-color;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
}

.tomtom-container{
    button{
        @include standard-button;
    }
    #map{
        height: 500px;
    }
}

#container-form{
    #form{
        *:focus {
            outline: none;
        }
        width: 50%;
        border: 1px solid lightgray;
        border-radius: 8px;
        hr{
            margin: 5px 0;
        }
        .form-label{
            color: grey;
        }
        textarea { 
            border: none;
            resize: none
        }
        input[type="file"] {
            display: none;
        }
        .custom-file-upload {
            height: 40px;
            margin-right: 5px;
            border-right: 1px solid #ccc;
            border-top-left-radius: 0;
            border-bottom-left-radius: 8px;
            display: inline-block;
            background-color: rgb(248,249,250);
            cursor: pointer;
            span{
                color: gray;
            }
        }
    }
}
