@import '~bootstrap/scss/bootstrap';
@import "@tomtom-international/web-sdk-maps";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/@tomtom-international/web-sdk-plugin-searchbox/dist/SearchBox.css";
//auth
@import "./auth/login.scss";
@import "./auth/registration.scss";
//user
@import "./User/dashboard.scss";

    //apartments
    @import "./User/apartments/createEditApartment.scss";
    @import "./User/apartments/apartmentIndex.scss";
    @import "./partials/variables";
    @import "./User/apartments/apartmentMessagesIndex.scss";

    //braintree
    @import "./User/braintree/paymentForm.scss";
    @import "./User/braintree/sponsorshipIndex.scss";
    @import "./User/braintree/checkoutSuccess.scss";


$main-bg-color: #ff375c;

.bnbButton{
    background-color: $main-bg-color;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: none;
    &:hover{
        color: white;
    }
}


#map{
    height: 500px;
    #marker{
            background-color: $main-bg-color;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            padding: 10px;
        .marker-container{
            filter: invert(100%);
        }
    }
}

#container-form{
    #form{
        *:focus {
            outline: none;
        }
        width: 70%;
        border: 1px solid lightgray;
        border-radius: 8px;
        hr{
            margin: 5px 0;
        }
        .form-label{
            color: grey;
        }
        textarea { 
            border: none;
            resize: none
        }
        .lightGreyText{
            color: rgb(132, 129, 129);
        }
        
    }
}

.textContainer{
    max-height: 300px;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    .textMessageContainer{
        overflow-y: auto;
        .textMessage{
            max-width: 100px;
        }
    }
    
}
